@inherits LayoutComponentBase

<PageTitle>Testing with electron</PageTitle>

<div class="page-container">
    <div class="on-top">
        <MenuButtons />
    </div>
    <div class="page">
        <main>

            <article class="content px-4" style="padding:none;">
                    @Body
            </article>
        </main>
    </div>
</div>


@code {
    private NavMenu navMenu;
    public async Task ReloadPage()
    {
        await navMenu.Reload();
        await InvokeAsync(StateHasChanged);
    }
}