.page-container {
    position: relative;
    max-height: 100vh;
    background-color: #424549;
}

.on-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.page {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}


.content{
    color: var(--primary-text-color);
}